@use '../base/variables' as v;

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: v.$border-radius-banner-desk;
  border: 1px black;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: v.$shadow-default;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: v.$border-radius-banner-desk;
  }

  &__title {
    position: relative;
    color: #fff;
    font-size: v.$font-size-banner-desk;
    font-weight: v.$font-weight-banner-desk;
    z-index: 1;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 111px;
    border-radius: v.$border-radius-banner-mobile;

    &::before {
      content: '';
      border-radius: v.$border-radius-banner-mobile;
    }

    &__title {
      font-size: v.$font-size-banner-mobile;
      padding: 0 16px;
    }
  }
}
