@use '../base/variables' as v;

.card {
  position: relative;
  height: v.$height-card-desk;

  border-radius: v.$border-radius-card-desk;
  overflow: hidden;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 0;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: v.$font-size-base-desk;
    font-weight: v.$font-weight-card-desk;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .card {
    height: v.$height-card-mobile;
    border-radius: v.$border-radius-card-mobile;

    &__title {
      bottom: 15px;
    }
  }
}
