@use '../base/variables' as v;

.header {
  display: flex;
  max-width: 1240px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 50px;
  }

  &__logo {
    width: 210px;
    height: 68px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    gap: 57px;
  }

  &__link {
    font-weight: v.$font-weight-base-desk;
    position: relative;
    text-decoration: none;
    color: #000;

    &--active::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: black;
      position: absolute;
      bottom: -1px;
      left: 0;
    }
  }
}

@media (max-width: 768px) {

.header {

  &__container {
    padding-top: 20px;
    padding-bottom: 27px;
  }

  &__logo {
    width: 145px;
    height: 49px;
  }

  &__list {
    gap: 20px;
  }

  &__link {
    font-weight: v.$font-weight-base-mobile;
    font-size: v.$font-size-base-mobile;
  }
}  
}
