@use '../base/variables' as v;

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 187px;

  &__name {
    font-size: 16px;
    font-weight: 500;
    color: #ff6060;
  }

  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .host {
    gap: 10.5px;
    width: 135.5px;

    &__picture {
      width: 32px;
      height: 32px;
    }
  }
}
