.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 5px 20px;
  height: 25px;

  background-color: #ff6060;
  border-radius: 10px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .tag {
    height: 18px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    padding: 5px 15px;
  }
}
