.home {
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 50px 56px 50px 43px;
  margin-top: 43px;
  margin-bottom: 50px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 60px;
  }
}

@media (max-width: 768px) {
  .home {
    padding: 0px ;
    background-color: white;
    margin-top: 22px;
    margin-bottom: 27px;

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
