@use '../base/variables' as v;

.housing {
  display: flex;
  flex-direction: column;

  &__tags-and-ratings {
    display: flex;
    justify-content: space-between;
    align-items: center; // aligne tags et rating sur la même ligne
    margin-top: 20px;
  }

  &__tags {
    display: flex;
    gap: 10px;
  }

  &__title {
    margin-top: 20px;
  }

  &__location {
    margin-top: 5px;
  }
}
