@use '../base/variables' as v;

.housing {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 20px;
    color: v.$primary-color;
    font-size: v.$font-size-housing-title-desk;
    font-weight: v.$font-weight-housing-title-desk;
  }

  &__location {
    margin-top: 5px;
    font-size: v.$font-size-housing-location-desk;
    font-weight: v.$font-weight-housing-location-desk;
  }

  &__tags-and-ratings {
    display: flex;
    justify-content: space-between;
    align-items: center; // aligne tags et rating sur la même ligne
    margin-top: 20px;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 76px;
  }

}

@media (max-width: 768px) {
  .housing {

    &__title {
      font-size: v.$font-size-housing-title-mobile;
      font-weight: v.$font-weight-housing-title-mobile;
    }

    &__location {
      font-size: v.$font-size-housing-location-mobile;
      font-weight: v.$font-weight-housing-location-mobile;
    }

    &__collapses {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 13px;
      margin-bottom: 27px;
    }
  }
}
