body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

/* Container global pour centrer le contenu */
.layout-container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
   min-height: 100vh;
}

@media (max-width: 768px) {
  .layout-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}