// Font families
$font-primary: 'Montserrat', sans-serif;

// Font sizes
$font-size-base-desk: 18px;
$font-size-base-mobile: 12px;

$font-size-nav-desk: 24px;
$font-size-nav-mobile: 12px;

$font-size-heading: 24px;

// Font weight 
$font-weight-base-desk: 400;
$font-weight-base-mobile: 400;

$font-weight-nav-mobile: 500;
$font-weight-nav-mobile: 500;

// Line heights
$line-height-base: 1.43;
$line-height-nav: 1.2; // pour la navbar