// Font families
$font-primary: 'Montserrat', sans-serif;

//Colors
$footer-bg-color: black;
$footer-text-color: white;
$primary-color: #FF6060;

// Font sizes
$font-size-base-desk: 18px;
$font-size-base-mobile: 12px;

$font-size-nav-desk: 24px;
$font-size-nav-mobile: 12px;

$font-size-heading: 24px;

$font-size-banner-desk: 48px;
$font-size-banner-mobile: 24px;

$font-size-footer-desk: 24px;
$font-size-footer-mobile: 12px;

$font-size-collapse-about-title-desk: 24px;
$font-size-collapse-about-title-mobile: 13px;


$font-size-housing-title-desk: 36px;
$font-size-housing-title-mobile: 18px;

$font-size-housing-location-desk: 18px;
$font-size-housing-location-mobile: 14px;

$font-size-collapse-housing-title-desk: 18px;
$font-size-collapse-housing-title-mobile: 13px;

$font-size-collapse-housing-inner-desk: 18px;
$font-size-collapse-housing-inner-mobile: 12px;

$font-size-host-name-desk: 18px;
$font-size-host-name-mobile: 12px;

$font-size-error-code-desk: 288px;
$font-size-error-code-mobile: 96px;

$font-size-error-message-desk: 36px;
$font-size-error-message-mobile: 18px;

$font-size-error-link-desk: 18px;
$font-size-error-link-mobile: 14px;


// Font weight 
$font-weight-base-desk: 400;
$font-weight-base-mobile: 400;

$font-weight-nav-desk: 500;
$font-weight-nav-mobile: 500;

$font-weight-banner-desk: 700;
$font-weight-banner-mobile: 700;

$font-weight-card-desk: 700;
$font-weight-card-mobile: 700;

$font-weight-footer-desk: 500;
$font-weight-footer-mobile: 700;

$font-weight-housing-title-desk: 500;
$font-weight-housing-title-mobile: 500;

$font-weight-housing-location-desk: 500;
$font-weight-housing-location-mobile: 500;

$font-weight-collapse-housing-title-desk: 700;
$font-weight-collapse-housing-title-mobile: 700;

$font-weight-collapse-housing-inner-desk: 400;
$font-weight-collapse-housing-inner-mobile: 400;

$font-weight-host-name-desk: 500;
$font-weight-host-name-mobile: 500;

$font-weight-error-code-desk: 700;
$font-weight-error-code-mobile: 700;

$font-weight-error-message-desk: 500;
$font-weight-error-message-mobile: 500;

$font-weight-error-link-desk: 500;
$font-weight-error-link-mobile: 500;

// Line heights
$line-height-base: 1.43;

//Shadows
$shadow-default: 0 4px 4px rgba(0, 0, 0, 0.25);

//Radius
$border-radius-banner-desk: 25px;
$border-radius-banner-mobile: 10px;

$border-radius-home-backround-desk: 25px;

$border-radius-card-desk: 10px;
$border-radius-card-mobile: 10px;

//Height / Weight
$height-card-desk: 340px;
$weight-card-desk: 340px;

$height-card-mobile: 335px;
$weight-card-mobile: 255px;

$height-footer-desk: 209px;
$height-footer-mobile: 209px;

// Breakpoints
$bp-mobile: 768px;

